/*-----------------------------------------------------------------------------------
            This style sheet belongs to the CRecid app, if it is modificated,
            please document de name of de author and date

            Esta hoja de estilos pertenece a la aplicación CRecid, si esta es 
            modificada, favor de documentar el nombre del autor y fecha

            author: Sofia Flores ver 1.0 (17/09/2022)

-----------------------------------------------------------------------------------*/

/*---------------------------------------------*/
/*      This block contins formato             */
/*              date : 11/09/22                */
/*                  CRecid team                */
/*---------------------------------------------*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Inter', sans-serif;
  background-color: #E8FFFB;
  size-adjust: block;
}
/*---------------------------------------------*/
/*      This block contins logo               */
/*              date : 11/09/22                */
/*                  CRecid team                */
/*---------------------------------------------*/
.logo{
  text-decoration: none;
  border: 1px solid #303030;
}


/*---------------------------------------------*/
/*      This block contins main              */
/*              date : 11/09/22                */
/*                  CRecid team                */
/*---------------------------------------------*/
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
}
/*---------------------------------------------*/
/*      This block contins login               */
/*              date : 11/09/22                */
/*                  CRecid team                */
/*---------------------------------------------*/
.login{
  width: max-content;
  background-color: #303030;
  padding: 20px;
}

.menu{
  height: 100%;
  width: max-content;
  background-color: #303030;
  padding: 20px;
}
.login form{
  display: flex;
  background-color: #303030;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
  gap: 4px;
  position: absolute;
  width: 345px;
  height: 74px;
  left: 20px;
  top: 422px;
}
.login label{
  background-color: #303030;
  color: #fff;
  text-align: left;
}
.login input{
  width: 300px;
  height: 50px;
  padding: 10px;
  font-family: 'Inter';
  border: none;
  border-radius: 6px;
  font-style: normal;
  font-size: 16px;
  font-weight: 50px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-feature-settings: 'calt' off;
  color: #0000009a;
}
.login button{
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  position: absolute;
  width: 150px;
  height: max-content;
  top: 3px;
  left: 75px;
  margin: 5%;
  background: #E8FFFB;
  border-radius: 6px;
  border:none;
}
.login button:hover{
  background-color: #79BEB1;
  color: black;
  transition: 0.5s;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.login button.active {
  color: black;
  background-color: #79BEB1;
  letter-spacing: 4px;
  text-transform: uppercase;
}




/* Aqui anda fanny y corrigio sofia ----------------------------------*/




/* Aqui termino fanny ----------------------------------*/




/*---------------------------------------------*/
/*      This block contins gallery             */
/*              date : 11/09/22                */
/*                  CRecid team                */
/*---------------------------------------------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: block;
  max-width: max-content;
  position:relative;
  margin: auto;
}
img{
  vertical-align: middle;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 820px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  display: flex;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*---------------------------------------------*/
/*      This block contins menu               */
/*              date : 11/09/22                */
/*                  CRecid team                */
/*---------------------------------------------*/
.menu button{
  display:inline-block;
  width: 390px;
  height: max-content;
  text-decoration: none;
  color: white;
  background-color: #303030;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 30px;
  border: none;
}
.menu button:hover{
  background-color: #79BEB1;
  color: black;
  transition: 0.5s;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.menu button.active {
  color: black;
  background-color: #79BEB1;
  letter-spacing: 4px;
  text-transform: uppercase;
}
/*---------------------------------------------*/
/*      This block contins body             */
/*              date : 11/09/22                */
/*                  CRecid team                */
/*---------------------------------------------*/
.body{
    
  width: max-content;
  flex-wrap: wrap;
}

.body h1{
  color: #79BEB1;
  top: 40px;
  font-size: 60px;
  letter-spacing: 4px;
}

.body button{
  box-sizing: border-box;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 24px;
  gap: 10px;
  position: absolute;
  width: 165px;
  height: 67px;
  left: 1178px;
  top: 45px;
  color: white;
  background: #303030;
  border: none;
  border-radius: 6px;
}
.body button:hover{
  background-color: #79BEB1;
  color: black;
  transition: 0.5s;
  letter-spacing: 3px;
}
.body button.active {
  color: black;
  background-color: #79BEB1;
  letter-spacing: 3px;
}
/*---------------------------------------------*/
/*      This block contins titles                 */
/*              date : 11/09/22                */
/*                  CRecid team                */
/*---------------------------------------------*/
.titles{
  padding: 5px;
}


.window-notice {
  background: rgba(33, 41, 52, .85);
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  position: fixed;
  z-index: 999;
}
.window-notice .content {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 320px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}
.content-buttons {
  text-align: center;
  margin-top: 1rem;
}

.content-buttons a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  background-color: #0080DE;
  color: #FFF;
  text-transform: uppercase;
}

.content-buttons a:hover {
  background-color: #006AB8;
}

.content-text a {
  color: #0080DE;
  text-decoration: none;
}

.content-text a:hover {
  color: #006AB8;
  text-decoration: underline;
  text-align: justify;
}
.gallery{
  position: relative;
  width: 619px;
  height: 363px;
  left: 450px;
  top: 96px;
}

/*---------------------------------------------*/
/*      This block contins RegHosp             */
/*              date : 11/09/22                */
/*                  CRecid team                */
/*---------------------------------------------*/
.regitrarH{
  width: 530px;
  height: 430px;
  background: #E8FFFB;
  padding: 20px;
  margin: 0px;
}

.title{
  font-size: 26px;
  color:#79BEB1;
  padding: 5px 5px;
  display: flex;
}
.sub{
  font-size: 18px;
  color:#474747;
  padding: 5px 5px 5px 150px;
  display: block;
}
.tags{
  font-size: 16px;
  color: #303030;
  padding: 5px 50px 5px 5px;
  display: flex;
}
.formu{
  margin: 0px;
  padding: auto;
}
.formu label{
  background-color: #E8FFFB;
  color: rgb(7, 7, 7);
  text-align: left;
}
.formu input{
  width: 250px;
  height: auto;
  padding: 5px;
  font-family: 'Inter';
  border:#303030;
  border-radius: 6px;
  font-style: normal;
  font-size: 16px;
  font-weight: 50px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-feature-settings: 'calt' off;
  color: #0000009a;
  background-color: rgba(218, 216, 216, 0.63);
}
.formu select{
  width: 250px;
  height: auto;
  padding: 5px;
  font-family: 'Inter';
  border:#474747;
  border-radius: 6px;
  font-style: normal;
  font-size: 16px;
  font-weight: 50px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-feature-settings: 'calt' off;
  color: #0000009a;
  background-color: rgba(231, 230, 230, 0.63);
}
.formu button{
  display:inline-block;
  width: 180px;
  height: max-content;
  text-decoration: none;
  color: white;
  background-color: #303030;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 25px;
  margin-left: 50px;
  border-radius: 6px;
  border: none;
}
.formu button:hover{
  background-color: #79BEB1;
  color: black;
  transition: 0.5s;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.formu button.active {
  color: black;
  background-color: #79BEB1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.guardar button{
  display:inline-block;
  width: 180px;
  height: max-content;
  text-decoration: none;
  color: white;
  background-color: #303030;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 25px;
  margin-left: 50px;
  border-radius: 6px;
  border: none;
}
.guardar button:hover{
  background-color: #79BEB1;
  color: black;
  transition: 0.5s;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.guardar button.active {
  color: black;
  background-color: #79BEB1;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.respon{
  min-width: 300px;
}


table th {
  padding-top: 12px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #79BEB1;
  color: black;
}



.TABLA-RESPONSIVA{
  width:90%;
  border-collapse: collapse;
  margin: 5%;
}

.tr-responsiva:nth-child(even) {background-color: #79BEB1;}
.tr-responsiva:hover {background-color: #303030;}

.th-responsiva{
  text-align: left;
  padding: 6px;
  background-color: #f2f2f2;
  color: black;
}
.th-responsiva1{
  text-align: left;
  padding: 6px;
  background: #303030;
  color: white;
}

.arriba{
  height: 25%;
}

.abajo{
  height: 80%;
}
